#global {
    color:white;
    font-family: arial;
    font-size: 14;
}

h1,h2 {
    font-size:18;
    color:#F7BE81;
}

p.genre {
    font-style:italic;
}

img {
    float:right;
    width:110;
    height:150;
}
